.distraction-box {
    width: 350px;
    height: 210px;
    position: absolute;
    background-color: red;
    z-index: 1;
}

#top-left {
    top: 10%;
    left: 10%;
}
#top-center {
    top: 5%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0);
}
#top-right {
    top: 10%;
    right: 10%;    
}
#right-center {
    top: 50%;
    bottom: 50%;
    right: 10%;
    transform: translate(0, -50%);
}
#bottom-right {
    bottom: 10%;
    right: 10%;
}
#bottom-center {
    bottom: 5%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0);
}
#bottom-left {
    bottom: 10%;
    left: 10%;
}
#left-center {
    top: 50%;
    bottom: 50%;
    left: 10%;
    transform: translate(0, -50%);
}

#centered {
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#overlay {
    pointer-events: none;
    position: fixed; /* Sit on top of the page content */
    /*  display: none; /* Hidden by default */
    width: 350px; /* Full width (cover the whole page) */
    height: 210px; /* Full height (cover the whole page) */
    transition: 3.0 ease;
    /*background-color: rgba(0,0,0,0.5);  Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    /*cursor: pointer; /* Add a pointer on hover */ 
}

.save-btn {
    margin-top: 20px;
}
.form-check {
    padding: 10px;
}
.visible {
    display: inherit;
}
.hidden {
    display: none;
}

.frame {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border: solid 150px rgb(62, 62, 62);
    overflow: auto;
}