html, body {
    /* background-color: #efefef; */
    font-size: 20px;
    font-family: 'Lato', 'Arial', sans-serif;
    height: 100%;
    background-color: #7f7f7f;
}

.question {
    font-size: 220% !important;
}

.text-box {

    top: 50%;
    left: 50%;
    overflow-x: hidden;
    width: 725px;
    height: 400px;
    text-align: justify;
    overflow-y: scroll;
}

#content {
    min-height: 100%;
    width: 700px;
}

.answerInput {
    width: 250px;
}

#button {
	margin-top: 850px;
}
